body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-image: url('https://i.pinimg.com/736x/c5/6d/ad/c56dad2221865825610c9827c7285a7a.jpg');
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.game-status {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #444;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #f5f5f5;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #470680;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.restart-button:hover {
    background-color: #9d6004;
}

.x {
    color: #350601;
}

.o {
    color: #eb8807;
}